@mixin styleText($fs, $fw, $color) {
    font-size: $fs;
    font-weight: $fw;
    color: $color;
}

@mixin styleButton($py, $px, $bg, $bd) {
    padding: $py $px;
    background: $bg;
    border: $bd;
    // giống nhau giữa các button nên không cần đổi tham số
    border-radius: $bd-2;
}

@mixin styleButtonHover($bg, $bd, $color) {
    background: $bg;
    border-color: $bd;
    color: $color;
}

@mixin responsive($screen) {
    // $screen : tên màn hình 
    @if (map-has-key($map: $breakpoints, $key: $screen)) {
        // tìm thấy màn hình
        $value: map-get($map: $breakpoints, $key: $screen);
        @media screen and(max-width: $value) {
            // đoann code cần điền khi responsive
            @content;
        }
    }
    @else {
        @error " Screen không tồn tại"
    }
}